<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Secret Santa</title>
  </head>
  <body  background="https://wallpaperplay.com/walls/full/b/6/a/323431.jpg">
    {{> header}}
    <h1 style="color: white">Secret Santa</h1>
    <h2 style="color: white">Please Decrypt the given code</h2>
  </body>
</html>
