<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Secret Santa</title>
  </head>
  <body  background="https://wallpaperplay.com/walls/full/b/6/a/323431.jpg">
    {{> header}}
    <h1 style="color: white">To know your Santa - Solve the Riddle</h1>
    <h3 style="color: white">My equation with you is like two ends of a bridg, Both serve the same purpose but always stand opposite to each other.</h3>
  </body>
</html>
